#span1 {
    color: #aec011;
}

.item {
    background-color: #a0a0a0;
}

.day{
    font-size: 100px;
}

.awesome {
    font-size: 100px;
    color: #aec011;
}

.sad {
    font-size: 10px;
    color: #666666;
}
