
body{
  width:100%;
  font-family:Helvetica Neue;
}



body {
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  height: 100px;
  width: 100%;
  background:#0000;
}


.container {
    width: 100%;
    max-width: 1100px;
    padding: 2em;
    margin: 0 auto;
}



nav {
  position: relative;
  top: 40%;
  left: 43%;
  width: 620px;
  /* border: 1px solid red; */
}

nav li {
  text-decoration: none;
  display: inline-block;
  /* padding: 0px 30px; */
  border-right: 1px solid #;
}

ul {
  list-style-type:none;
  margin:0;
  padding: 0;
  overflow:auto;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}


.nav-links {
  text-decoration: none;
  color: black;
  font-family: 'georgia', serif;
  font-style: ;
  font-size: 18px;
  padding: 0px 30px;
}

#logo {
  position: absolute;
  top:1px; /*CHANGE Y of Logo*/
  left:1.4%; /*CHANGE X of Logo*/
  width: 180px;
  height: auto;
}


nav li:after {
  content: '|';
  font-size: 14px;
  color: #ddd;
  /* font-weight: normal; */
}



.lines{
    margin: 60px 5 -50 auto;
    text-align: center;
    z-index: 1;
}

.lines2{
    margin: -794px 215 0 -65;
    text-align: center;
    z-index: 1;
}


.columns{
  -webkit-column-width: 250px;
  column-width: 500px;
  -webkit-column-gap: 1px; 
  max-width: 1100px;
  margin: 60px auto;
}


.search{
    width: 90%;
    margin: 50px auto 45px auto;
}


.search1{
    text-align: center;
}


.gray {
  width: 100%;
  height: 120px;
  background-color: #7a7a7a;
  margin: 70px 0px 0px 0px;
}


.bye{
    margin: -60px auto 0 auto;
    text-align: center;
    z-index: 1;
}


.columns{
  -webkit-column-width: 180px; 
  column-width: 300px;
  -webkit-column-gap: 1px; 
  max-width: 1100px;
  margin: 0px auto;
}


.item{
  text-align:center;
  background-color:#fff;
  margin: 10px;
  padding: 0px;
  display: inline-block;
}


.item h1{
  font-weight:100;
}


.item img{
  width: 100%;
  height: auto;
  display:block;
}


@media(max-width: 460px) {
    #logo {
    position: absolute;
    top:30px; 
    left:0%;
    width: 100px;
    height: auto;
}
    
    nav ul li {
    width: 50%;
    margin: 0 0 0 10%;
    left:40%;    
}
    
    #pic {
    width:100%;   
    }
    
    
   .nav-links {
   text-decoration: none;
   color: black;
   font-family: 'georgia', serif;
   font-size: 15px;
}
    
}







